body {
    background-color: #F7F7F7;
}

header {
    background: #FFF;
    text-align: center
}

.container {
    margin-top: 50px;
    margin-bottom: 70px;
}

article h1 {
    text-align: center;
    margin: 0 0 40px;
    padding: 10px;
}

.style_options {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.style_options label {
    font-weight: 600;
}

.backcolor .input-group-text,
.frontcolor .input-group-text {
    background: #fff;
}

#backcolor,
#frontcolor {
    width: 75px;
    height: 38px;
}

.input-group-text {
    height: 38px !important;
    width: 38px;
}

form {
    display: flex;
}

.tab-content {
    background-color: #fff;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-radius: 0 5px 5px;
    padding: 20px;
    margin-bottom: 30px;
}

.tab-content h3 {
    font-size: 20px;
}

.fa-qrcode {
    font-size: 25px;
}

.fa-link {
    font-size: 13px;
    margin-right: 5px;
}

#url {
    margin-top: 20px;
    width: -webkit-fill-available;
    width: -moz-available;
    border-radius: 5px;
    text-indent: 10px;
}

.btn-generate {
    margin: 0 0 30px;
    background: #0af;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}

.card-qrcode {
    margin: 0 auto;
    width: 20rem;
    height: 384px;
    border: 4px #999 solid;
    border-radius: 10px;
    background: #FFF;
}

.card-qrcode-img {
    padding: 40px 0;
    text-align: center;
}

.card-qrcode-img img {
    margin: 0 auto;
    opacity: .5;
}

.card-qrcode-content {
    padding: 20px 20px;
}

.card-qrcode-btn {
    padding: 25px 0;
    text-align: center;
}

footer {
    background: #fff;
    text-align: center;
    padding: 20px 0;
}